.aboutUs
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 5%;
	img
    {
		height: 35rem;
		width: 35rem;
		vertical-align: middle;
	}
	p
    {
		font-size:larger;
		text-align: justify;
		line-height: 1.4rem;
	}
}

.aboutUsTitle
{
	text-align: center;
	font-weight: 700;
	margin: 1rem;
}