.cartContainer
{
	margin: 5% 15%;

    h4
    {
        text-align: end;
    }
}

.cartItem
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: normal;
    img
	{
        padding: 1%;
		height: 320px;
		width: 320px;
    }
}