.contact
{
	margin: 5% 3%;
	justify-content: space-evenly;
}

.locationContainer
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center	;
	align-items: center;
}

.locationMap
{
	border: 1px solid aqua;
	border-radius: 5px;
	iframe
	{
		max-width: 100%;
		max-height: 100%;
	}
}

.formContainer
{
	display: flex;
	flex-flow: column nowrap;
	min-width: 100%;

	div
	{
		padding: 15px;
	}
}