.contact
{
	display: flex;
	margin: 5%;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.locationContainer
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center	;
	align-items: center;
}

.locationMap
{
	border: 1px solid aqua;
	border-radius: 5px;
	width: 75%;
	iframe
	{
		max-width: 100%;
		max-height: 100%;
	}
}

.formContainer
{
	display: flex;
	flex-flow: column nowrap;
	min-width: 100%;

	div
	{
		padding: 10px;
	}
}