@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');

@mixin colorHeadings
{
	color: $color_1;
	text-align: center;
	font-weight: 700;
}

.heading
{
	text-align: center;
	font-weight: 700;
}
.colorHeading
{
	@include colorHeadings;
}

.colorTitle
{
	@include colorHeadings;
	margin-bottom: 25px;
}