.newsArticlesSection
{
	margin: 5%;
}

.newsArticleContainer
{
	justify-content: space-evenly;
	align-items: start;
}

.articleContainer
{
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 300px;
	max-width: 25%;
}

.articleThumbnail
{
  	position: absolute;
  	top: 0;
  	right: 0;

	img
	{
		height: 320px;
		width: 350px;
	}
}

.articleDetails
{
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-content: center;
	justify-content: center;
	background-color: $color_2;
	width: 45%;
	box-shadow: 2px 4px 5px -3px;
	position: relative;
}

.articleTitle
{
	color: black;
	font-size: large;
	font-weight: 700;
	line-height: 1.1;

	&:hover
	{
		color: $color_1;
		text-decoration: underline;
	}
}

.articleSummary
{
	color: black;
	font-size: medium;
	font-weight: 300;
	line-height: 1.1;
}