.news
{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 100px 100px;
	li
    {
		display: block;
		padding: 10px 0px;
	}
}

.newsContainer
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 720px;
	height: 360px;
	padding: 20px 20px;
	background-color: $background-color_3;
	img
    {
		padding: 0px 20px;
		width: 360px;
		height: 360px;
	}
	div
    {
		align-self: flex-start;
		padding: 0px 20px;
	}
}