@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Manrope', sans-serif;
    padding-top: 165px;
}

header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: black;
    position: sticky;
    top: 0px;
}

.headerCart
{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

li, a
{
    font-weight: 300;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    list-style-type: none;
}

.nav-link
{
    font-weight: 300;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    list-style-type: none;
}

.navbar .nav-link.active
{
    color: white;
}

.logo
{
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.navLinks
{
    list-style-type: none;
}

.navLinks li
{
    display: inline-block;
    padding: 0px 20px;
}

#mainBanner img
{
    display: block;
    width: 100%;
    height: 360px;
}

#mainIndexBanner img
{
    display: block;
    width: 100%;
    height: 100%;
}

.carouselImg
{
    height: 40vw;
    object-fit: fill;
}

.searchBarBackground
{
    background-color: black;
}

.search
{
    display: flex;
    flex-flow: row nowrap;
    margin: 0px 7%; 
    /* padding: 0px 5%; */
    justify-content: space-between;
    text-align: center;
}

footer
{
    background-color: black;
}

.footerLinks
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.footerLinks li
{
    text-align: center;
    width: 150px;
    padding: 10px 20px;
    display: inline-block;
}

.heading
{
    text-align: center;
    font-weight: 700;
}

.colorHeading
{
    color: aqua;
    /* font-size: 20px; */
    text-align: center;
    font-weight: 700;
}

/* OldStore */

/* .store
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 100px 100px;
    height: 1200px;
}

.storeContainer
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 360px;
    height: 480px;
    padding: 20px 20px;
    margin: 10px 0px;
    background-color: grey;
} */

/* .storeContainer img
{
    padding: 20px 20px;
    width: 360px;
    height: 360px;
}

.storeContainer div
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
} */

    /*New Store*/

.storeCarouselContainer
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    /* padding: 0 5%; */
}

.storeCarouselInfo
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2% 0%;
}

.storeCarouselContainer img
{
    width: 90%;
    object-fit: fill;
}

.storeGamesSection
{
    margin: 5%;
}

.storeGamesContainer
{
    justify-content: space-evenly;
}

.storeCardImage
{
    height: 60%;
    object-fit: fill;
}

.value
{
    color: greenyellow;
}

/* News */

.news
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 100px 100px;
}

.news li
{
    display: block;
    padding: 10px 0px;
}

.newsContainer
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 720px;
    height: 360px;
    padding: 20px 20px;
    background-color: grey;
}

.newsContainer img
{
    padding: 0px 20px;
    width: 360px;
    height: 360px;
}

.newsContainer div
{
    align-self: flex-start;
    padding: 0px 20px;
}

/* About us */

.about-us
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* Contact */

.contact
{
    display: flex;
    margin: 100px 100px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.locationMap
{
    border: 1px solid aqua;
    border-radius: 5px;
}

@media (max-width: 768px)
{
    body
    {
        padding-top: 95px;
    }

    .logo
    {
        height: 70px;
        width: 70px;
    }
}

@media (min-width: 769px)
{
}